{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
	<h1>
		Catégories
	</h1>
	
<table class="table table-hover">
  <thead>
    <tr>
		<th scope="col">Nom</th>
		<th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
	{% for catalog in catalogs %}
    <tr>
		<td><a href="{{ path('articles', {'idCatalog': catalog.id}) }}">{{catalog.name }}</a></td>
		<td>{{ catalog.decription }}</td>
    </tr>
	{% endfor %}
  </tbody>
</table>	

<a class="btn btn-primary btn-lg btn-block" href="/catalog/new">Ajouter une catégorie d'article</a>  


{% endblock %}

